@media screen {
  body {
    background-color: rgb(246, 246, 246);
    color: black;
    margin: 0;
    padding: 0;
    font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
  }

  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  .mob-logo{
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    color: rgb(107, 107, 107);
    text-decoration: none;
    font-size: 14px;
  }

  .logo {
    height: 50px;
  }

  .nav-img {
    height: 30px;
    margin: 0 10px;
  }

  main {
    display: none;
    margin: 0;
  }

  main:target {
    display: block;
  }

  .banner {
    aspect-ratio: 2.5;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.244) 0,
        rgba(0, 0, 0, 0.856) 100%
      ),
      url(https://c.pxhere.com/photos/a3/6c/chair_living_room_indoor_decor_flat-181502.jpg!d);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner p {
    color: white;
    font-size: 27px;
    font-weight: 300;
  }

  a {
    text-decoration: none;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1400px;
    margin: auto;
  }

  button {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px;
    border: none;
  }

  .categories a {
    margin: 10px;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    color: white;
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 20s ease;
  }
  
  .categories a:hover {
    background-size: 300%;
  }

  .cat-crd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
  }

  hr {
    border: 0.3px solid #dcdcdc;
    margin: 0;
  }

  footer {
    padding: 50px;
    background-color: rgb(255, 255, 255);
  }

  .foot-logo {
    height: 100px;
  }


  .foot-clmn ul {
    list-style: none;
  }

  .foot-clmn ul li a {
    color: rgb(108, 108, 108);
  }

  .hot-prod-img {
    aspect-ratio: 1;
    min-width: 45%;
    margin: 0 20px;
    background-color: rgb(216, 237, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://s.alicdn.com/@sc04/kf/H4300a50029754c0186686d07c01fa7b7E.jpeg_960x960.jpeg);
  }

  .hot-prod {
    display: flex;
    padding-top: 100px;
  }

  .cat-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
  }

  .prod-cat-img {
    background-color: black;
    width: 100%;
    aspect-ratio: 1;
  }

  .prod-cat-img:hover {
    background-color: grey;
  }

  .product-title {
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: 300;
    line-height: 1.5;
  }

  .carousel-item {
    transition: transform 2s ease, opacity 0.5s ease-out;
  }

  .carousel-item img {
    border-radius: 20px;
  }

  .product-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1000px;
    margin: 20px auto;
  }

  .no-piece {
    color: grey;
    font-size: 12px;
  }

  .piece-prize {
    font-size: 18px;
  }

  button {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px;
    border: none;
  }

  .table {
    border: 0.5px solid rgb(118, 118, 118);
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-bottom: none;
  }

  .table div {
    padding: 5px 10px;
    border-bottom: 0.5px solid rgb(118, 118, 118);
  }

  .table-data {
    background-color: rgb(240, 240, 240);
    border-right: 0.5px solid rgb(118, 118, 118);
  }

  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .product {
    text-align: center;
  }

  .product-image {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .product-image:hover {
    transition: 0.1s;
  }

  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.429);
    border-radius: 50%;
  }

  .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.429);
    border-radius: 50%;
  }

  .wp-enq {
    border-radius: 10px;
    background-color: rgb(45, 45, 45);
    color: white;
  }

  .wp-enq:hover {
    border: 1px solid black;
    background-color: rgb(198, 255, 196);
    color: black;
  }

  .mail-enq {
    border-radius: 10px;
    border: 1px solid black;
  }

  .mail-enq:hover {
    border-radius: 10px;
    background-color: rgb(89, 0, 0);
    color: white;
  }

  .section {
    position: relative;
    width: 100%;
    display: block;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .over-hide {
    overflow: hidden;
  }

  .padding-tb {
    padding: 40px 0;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  .checkbox:checked + label,
  .checkbox:not(:checked) + label {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    margin-right: 6px;
    margin-left: 6px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    animation: border-transform 6s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
  }

  .checkbox:checked + label {
    box-shadow: 0 8px 25px 0 rgba(16, 39, 112, 0.3);
    transform: scale(1.3);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
  }

  @keyframes border-transform {
    0%,
    100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }

  .slider-height-padding {
    padding-top: 540px;
    width: 100%;
  }

  .section ul {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .section ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 2.7;
    color: #343434;
    writing-mode: vertical-rl;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 8px 25px 0 rgba(16, 39, 112, 0.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .section ul li span {
    mix-blend-mode: difference;
  }

  .checkbox.frst:checked ~ ul li:nth-child(1) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }

  .checkbox.scnd:checked ~ ul li:nth-child(2) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }

  .checkbox.thrd:checked ~ ul li:nth-child(3) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }

  .checkbox.foth:checked ~ ul li:nth-child(4) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }

  .sixth ul li {
    background-image: url("https://s.alicdn.com/@sc04/kf/Seb36634c0a9c4417ab72bacbd7749732I.jpg_720x720q50.jpg");
  }

  .sixth ul li:nth-child(2) {
    background-image: url("https://s.alicdn.com/@sc04/kf/A82357b96e39c44ad999892de9ef3e550e.jpg_720x720q50.jpg");
  }

  .sixth ul li:nth-child(3) {
    background-image: url("https://s.alicdn.com/@sc04/kf/Aa2948ab2670e4f98b90122ec9f84035fC.jpg_720x720q50.jpg");
  }

  .sixth ul li:nth-child(4) {
    background-image: url("https://s.alicdn.com/@sc04/kf/A1b34d2eb70114185be04f014aa6dd1747.jpg_720x720q50.jpg");
  }

  .sixth.checkbox:checked + label,
  .sixth.checkbox:not(:checked) + label {
    background-image: url("https://s.alicdn.com/@sc04/kf/Seb36634c0a9c4417ab72bacbd7749732I.jpg_720x720q50.jpg");
  }

  .sixth.checkbox.scnd + label {
    background-image: url("https://s.alicdn.com/@sc04/kf/A82357b96e39c44ad999892de9ef3e550e.jpg_720x720q50.jpg");
  }

  .sixth.checkbox.thrd + label {
    background-image: url("https://s.alicdn.com/@sc04/kf/Aa2948ab2670e4f98b90122ec9f84035fC.jpg_720x720q50.jpg");
  }

  .sixt.checkbox.foth + label {
    background-image: url("https://s.alicdn.com/@sc04/kf/A1b34d2eb70114185be04f014aa6dd1747.jpg_720x720q50.jpg");
  }

  .about {
    max-width: 1000px;
    margin: auto;
    padding: 12px;
    /*background-color: rgb(223, 224, 226);*/
  }

  #dabba {
    background-image: url("https://c.pxhere.com/photos/7a/e9/interior_living_room_living_room_interior_living_furniture_house_design_decor-1201240.jpg!d");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #image-dabba {
    width: max-content;
    padding: 10px;
    border: aliceblue;
    margin: auto;
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.766);
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .box {
    padding: 10vh 0;
  }

  #intro {
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  .a {
    text-decoration: none;
  }

  .a:hover {
    color: red;
    text-decoration: underline;
  }

  .company-images {
    width: 600px;
    height: 400px;
    margin: auto;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h1 {
    text-align: center;
  }

  #boxes {
    display: flex;
  }

  .small-box {
    width: 350px;
    text-align: center;
    height: 25px;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(240, 239, 237);
  }

  .dabba1 {
    border: 1px solid gray;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .dabba2 {
    max-width: 700px;
    margin: auto;
  }

  h4 {
    text-decoration: 1.5px underline gray;
  }
  .home-cat-cont{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .com-chng{
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mob-cat{
    display: none;
  }

  .clmns{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .hot-prod-txt{
    padding: 60px;
  }

  .category-cards{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    gap: 20px;
  }

  #menuToggle{
  display: none;
  position: relative;
  top: 3px;
  left: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 23px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: #3f3f3f;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  width: 26px;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  margin: -100px 0 0 -70px;
  width: 370px;
  height: 150vh;
  padding: 50px;
  padding-top: 125px;
  flex-direction: column;
  
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 16px;;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}

@media (max-width:800px){

  footer {
    padding: 20px;
  }
    
  .home-cat-cont{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .category-cards{
    margin: 10px auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .home-cat-cont div a{
    display: flex;
  }
  .home-cat-cont div a div{
    min-width: 200px;
  }

  .home-cat-cont div a div p{
    text-align: left;
  }

  .hot-prod{
    flex-direction: column;
  }

  .categories{
    display: none;
  }

  
  .mob-cat{
    display: block;
    margin: 10px;
  }

  header {
    padding: 20px 10px;
  }

  .hot-prod-img{
    margin: 0 20%;
  }
  .product-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width:630px){
  .home-cat-cont div a{
    flex-direction: column;
  }
  .home-cat-cont{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .pc-nav{
    display: none;
  }
  .logo{
    display: none;
  }

  .mob-logo{
    height: 50px;
    display: block;
  }
  .category-cards{
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .product-card {
    grid-template-columns:1fr 1fr;
    gap: 5px;
  }
  main {
    display: none;
  }
  .hot-prod-txt{
    padding: 10px;
  }
  .hot-prod-img{
    margin: 0;
  }
  .clmns{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  #menuToggle{
  display: block;}

  .nav-img{
    height: 25px;
  }

}
